@page "/"

<h1>Election Dataviz</h1>

<p>Este projeto tem como principal objetivo o estudo da tecnologia blazor</p>


<p>Usa Dataset disponivel em:</p>
<ul>
    <li><a href="https://github.com/poolborges/caboverde-dataset">Cabo Verde Dataset (Paulo Borges scrap this from CNE)</a></li>
    
    <li><a href="https://github.com/poolborges/caboverde-dataset">Cabo Verde CNE</a></li>
</ul>


<p>Usa tecnologia:</p>

<ul>
    <li><a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Microsoft Blazor</a></li>
</ul>

<!--
<SurveyPrompt Title="How is Blazor working for you?" />
 -->

<h3>CNE Sites</h3>

<ul>
    <li><a href="https://www.youtube.com/channel/UChPlMrAx2HBKgjjPQDf6jcA">CNE Youtube</a></li>
    <li><a href="https://soundcloud.com/cnecv">CNE PodCast</a></li>
    <li><a href="https://web.facebook.com/CNECV">CNE Facebook</a></li>
</ul>




